h1 {
    line-height: 2rem;
    text-indent: .25rem;
    font-size: 1.8rem;
    padding-bottom: 1rem;
    color: $mainColor;
}
menu {
    width: 128px;
    height: 100vh;
    float: left;

    li {
        transition: all .2s;
        cursor: pointer;
        // line-height: 2rem;
        padding: .5rem;
        background: ligthen($mainColor, 20);
        border-top: 1px solid darken($mainColor, 10);
        &:hover {
            background: $mainColor;
            color: #fff;
        }
        &:first-of-type {
            border-top: none;
        }

    }
    .hamburger {
        height: 2rem;
        width: 2rem;
        svg {
            background-color: ligthen($mainColor, 80);
        }
        cursor: pointer;
        background-color: $mainColor;
        width: 100%;
    }
    @media #{$mediumScreen} {
        float: none;
        height: 100%;
        width: 100vw;
    }
}
